*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Exo;
}

nav{
    width: 100vw;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    z-index: 4;
    position: fixed;
    background-color: white;

    .nav-list{
        display: flex;
        list-style: none;
        cursor: pointer;
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;
        text-transform: capitalize;

        .nav-li{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .nav-li.home{
            width: 84px;
            height: 72px;
            text-decoration: none;
            color: black;
            &:hover{
            color: #FF782D;
            }
        }
        .nav-li.courses{
            width: 100px;
            height: 72px;
            text-decoration: none;
            color: black;
            &:hover{
            color: #FF782D;
            }
        }
        .nav-li.blog{
            width: 74px;
            height: 72px;
            text-decoration: none;
            color: #FF782D;
            background-color: #F5F5F5;
            &:hover{
            color: #FF782D;
            }
        }
        .nav-li.page{
            width: 97px;
            height: 72px;
            text-decoration: none;
            color: black;
            &:hover{
            color: #FF782D;
            }
        }
        .nav-li.theme{
            width: 164px;
            height: 72px;
            text-decoration: none;
            color: black;
            &:hover{
            color: #FF782D;
            }
        }
        
        
        

        .page{
            border: none;
            background: none;
        }

    }

    button{
        cursor: pointer;
    }

    .login{
        width: 220px;
        height: 48px;
        display: flex;
        justify-content: space-between;
        .login-btn{
            border: none;
            background: none;

            &:hover{
                color: #FF782D;
                cursor: pointer;
            }
        }
        .login-slash{
            margin: 13px 0 0;
        }

        .login-btn.one, .login-btn.two{
            font-weight: 500;
            font-family: jost;
            font-size: 18px;
            line-height: 150%;
            text-transform: capitalize;
            margin: 12px 0 0;
        }

        .login-btn.glass{
            .circle{
                width: 48px;
                height: 48px;
                border-radius: 50%;
                border: 2px solid #FF782D;
                display: flex;
                justify-content: center;
                align-items: center;

            }
        }
    }

    .bars{
        border: none;
        background: none;
        margin: 7px 0 0 0;
        display: none;
    }


}

header{
    .hero{
        width: 100%;
        height: 188px;
        padding: 72px 0 0;
        .path{
            width: 100%;
            height: 60px;
            background-color: #F5F5F5;
            display: flex;
            align-items: center;
            .course-path{
                width: 140px;
                height: 24px;
                margin: 0 0 0 70px;
                display: flex;
                justify-content: space-between;

                .homepage{
                    font-family: Jost;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    color: #555555;
                }
                .fa-angle-right{
                    width: 16px;
                    height: 16px;
                    color: #9D9D9D;
                    margin: 4px 0;
                }
                .blog{
                    font-family: Jost;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    color: #9D9D9D;
                }
            }
        }        
    }
    main{
        .articles{
            max-width: 1226px;
            min-height: 1811px;
            margin: 0 70px 70px 70px;
            .articles-text{
                width: 100%;
                height: 43px;
                display: flex;
                justify-content: space-between;

                .articles-title{
                    font-family: Exo;
                    font-weight: 600;
                    font-size: 36px;
                    line-height: 120%;
                    text-transform: capitalize;
                }

                .articles-search{
                    max-width: 100%;
                    width: 350px;
                    height: 31px;
                    display: flex;
                    justify-content: space-between;
                    .search-content{
                        max-width: 100%;
                        width: 270px;
                        height: 100%;
                        display: flex;
                        input[type="search"]{
                            max-width: 100%;
                            width: 250px;
                            border-top: rgba(255, 255, 255, 0);
                            border-right: rgba(255, 255, 255, 0);
                            border-left: rgba(255, 255, 255, 0);
                            &:focus{
                                outline: none;
                            }
                        }
                        
                        .glass{
                            border: none;
                            background: none;
                        }

                        
                    }
                    .squares{
                        border: none;
                        background: none;                            
                    }
                    .dotted-bars{
                        border: none;
                        background: none;
                    }

                }
                
            }
            .articles-cards{
                max-width: 100%;
                min-height: 1680px;
                margin: 40px 0 0;
                display: flex;
                flex-direction: column;
                gap: 30px;


                .card{
                    max-width: 100%;
                    height: 250px;
                    border: 1px solid #EAEAEA;
                    border-radius: 20px;  
                    transition: all 0.3s ease;
                    display: flex;
                    gap: 20px;
                    align-items: center;
                    
                    &:hover{
                        box-shadow: 1px 1px 20px #0000001A;
                        background-color: #F5F5F5;
                        .card-title{
                            color: #FF782D;
                        }
                    }
                    
                }

                
                .card.one{                    
                    .img{
                        max-width: 100%;
                        width: 380px;
                        height: 250px;
                        border-radius: 20px;
                        border-bottom-right-radius: 0;
                        border-top-right-radius: 0;
                        background-image: url(./../imgs/Rectangle\ 139\ eduma.png);
                        background-repeat: no-repeat;
                    }

                    .card-content{
                        max-width: 100%;
                        width: 780px;
                        height: 147px;
                        padding: 20px 0 0 30px;
                        .card-title{
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 120%;
                            text-transform: capitalize;
                        }
                        .date{
                            font-family: Jost;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 150%;
                            vertical-align: middle;
                            color: #555555;
                            margin: 16px 0 7px 8px;
                        }
                        .card-des{
                            font-family: Jost;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 150%;
                            vertical-align: middle;
                            color: #555555;
                        }


                    }
                }
                .card.two{                    
                    .img{
                        max-width: 100%;
                        width: 380px;
                        height: 250px;
                        border-radius: 20px;
                        border-bottom-right-radius: 0;
                        border-top-right-radius: 0;
                        background-image: url(./../imgs/Rectangle\ 139\ 3.png);
                        background-repeat: no-repeat;
                    }

                    .card-content{
                        max-width: 100%;
                        width: 780px;
                        height: 147px;
                        padding: 20px 0 0 30px;
                        .card-title{
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 120%;
                            text-transform: capitalize;
                        }
                        .date{
                            font-family: Jost;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 150%;
                            vertical-align: middle;
                            color: #555555;
                            margin: 16px 0 7px 8px;
                        }
                        .card-des{
                            font-family: Jost;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 150%;
                            vertical-align: middle;
                            color: #555555;
                        }


                    }
                }
                .card.three{
                    .img{
                        max-width: 100%;
                        width: 380px;
                        height: 250px;
                        border-radius: 20px;
                        border-bottom-right-radius: 0;
                        border-top-right-radius: 0;
                        background-image: url(./../imgs/Rectangle\ 139\ 2.png);
                        background-repeat: no-repeat;
                    }

                    .card-content{
                        max-width: 100%;
                        width: 780px;
                        height: 147px;
                        padding: 20px 0 0 30px;
                        .card-title{
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 120%;
                            text-transform: capitalize;
                        }
                        .date{
                            font-family: Jost;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 150%;
                            vertical-align: middle;
                            color: #555555;
                            margin: 16px 0 7px 8px;
                        }
                        .card-des{
                            font-family: Jost;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 150%;
                            vertical-align: middle;
                            color: #555555;
                        }


                    }
                }
                .card.four{
                    .img{
                        max-width: 100%;
                        width: 380px;
                        height: 250px;
                        border-radius: 20px;
                        border-bottom-right-radius: 0;
                        border-top-right-radius: 0;
                        background-image: url(./../imgs/Rectangle\ 139\ 4.png);
                        background-repeat: no-repeat;
                    }

                    .card-content{
                        max-width: 100%;
                        width: 780px;
                        height: 147px;
                        padding: 20px 0 0 30px;
                        .card-title{
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 120%;
                            text-transform: capitalize;
                        }
                        .date{
                            font-family: Jost;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 150%;
                            vertical-align: middle;
                            color: #555555;
                            margin: 16px 0 7px 8px;
                        }
                        .card-des{
                            font-family: Jost;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 150%;
                            vertical-align: middle;
                            color: #555555;
                        }


                    }
                }
                .card.five{
                    .img{
                        max-width: 100%;
                        width: 380px;
                        height: 250px;
                        border-radius: 20px;
                        border-bottom-right-radius: 0;
                        border-top-right-radius: 0;
                        background-image: url(./../imgs/Rectangle\ 139\ 6.png);
                        background-repeat: no-repeat;
                    }

                    .card-content{
                        max-width: 100%;
                        width: 780px;
                        height: 147px;
                        padding: 20px 0 0 30px;
                        .card-title{
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 120%;
                            text-transform: capitalize;
                        }
                        .date{
                            font-family: Jost;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 150%;
                            vertical-align: middle;
                            color: #555555;
                            margin: 16px 0 7px 8px;
                        }
                        .card-des{
                            font-family: Jost;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 150%;
                            vertical-align: middle;
                            color: #555555;
                        }


                    }
                }
                .card.six{
                    .img{
                        max-width: 100%;
                        width: 380px;
                        height: 250px;
                        border-radius: 20px;
                        border-bottom-right-radius: 0;
                        border-top-right-radius: 0;
                        background-image: url(./../imgs/Rectangle\ 139\ 7.png);
                        background-repeat: no-repeat;
                    }

                    .card-content{
                        max-width: 100%;
                        width: 780px;
                        height: 147px;
                        padding: 20px 0 0 30px;
                        .card-title{
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 120%;
                            text-transform: capitalize;
                        }
                        .date{
                            font-family: Jost;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 150%;
                            vertical-align: middle;
                            color: #555555;
                            margin: 16px 0 7px 8px;
                        }
                        .card-des{
                            font-family: Jost;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 150%;
                            vertical-align: middle;
                            color: #555555;
                        }


                    }
                }
            }
            .btns{
            max-width: 288px;
            height: 48px;
            margin: 30px auto 70px;
            display: flex;
            justify-content: space-between;

            .one{
                border: none;
                background: none;
                .btn-circle{
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                    border: 1px solid #EAEAEA;
                    transition: all 0.3s ease;
                    &:hover{
                        background-color: black;
                    }
                    .left-arrow{
                        width: 45px;
                        height: 45px;
                        text-align: center;
                        margin: 16px 0;
                        color: black;
                        &:hover{
                            color: white;
                        }
                    }
                }
            }
            .two{
                border: none;
                background: none;
                .btn-circle{
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                    border: 1px solid #EAEAEA;
                    background-color: black;
                    transition: all 0.3s ease;
                    
                    .num-one{
                        width: 45px;
                        height: 45px;
                        text-align: center;
                        margin: 16px 0;
                        color: white;
                    }

                }
            }
            .three{
                border: none;
                background: none;
                .btn-circle{
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                    border: 1px solid #EAEAEA;
                    transition: all 0.3s ease;
                    &:hover{
                        background-color: black;
                    }
                    .num-two{
                        width: 45px;
                        height: 45px;
                        text-align: center;
                        margin: 16px 0;
                        color: black;
                        &:hover{
                            color: white;
                        }
                    }
                }
            }
            .four{
                border: none;
                background: none;
                .btn-circle{
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                    border: 1px solid #EAEAEA;
                    transition: all 0.3s ease;
                    &:hover{
                        background-color: black;
                    }
                    .num-three{
                        width: 45px;
                        height: 45px;
                        text-align: center;
                        margin: 16px 0;
                        color: black;
                        &:hover{
                            color: white;
                        }
                    }
                }
            }
            .five{
                border: none;
                background: none;
                .btn-circle{
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                    border: 1px solid #EAEAEA;
                    transition: all 0.3s ease;
                    &:hover{
                        background-color: black;
                    }
                    .right-arrow{
                        width: 45px;
                        height: 45px;
                        text-align: center;
                        margin: 16px 0;
                        color: black;
                        &:hover{
                            color: white;
                        }
                    }
                }
            }
            }


        }
    }
}

footer{
    width: 100%;
    min-height: 458px;
    
    background-color: #F5F5F5;
    .footer-content{
        max-width: 1226px;
        min-height: 350px;
        margin: 50px auto 0;
        padding: 50px 20px 0;
        border: 0.5px solid rgba(148, 22, 22, 0);
        display: flex;
        gap: 32px;

        .logo-info{
            max-width: 412px;
            min-height: 131px;
            .logo-des{
                font-family: Jost;
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
                margin: 29px 0 0;
                color: #555555;
            }
        }
        .get-help{
            width: 191px;
            height: 191px;

            .help-title{
                font-family: Exo;
                font-weight: 600;
                font-size: 20px;
                line-height: 120%;
                text-transform: capitalize;
            }

            .help-list{
                list-style: none;
                margin: 30px 0 0;
                
                .footer-a{
                    text-decoration: none;
                    color: #555555;
                    cursor: pointer;
                    font-family: Jost;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 250%;
                    text-transform: capitalize;
                }
                .footer-a:hover{
                    color: #FF782D;
                }
            }
        }
        .programs{
            width: 191px;
            .program-title{
                font-family: Exo;
                font-weight: 600;
                font-size: 20px;
                line-height: 120%;
                text-transform: capitalize;
            }
            .program-list{
                list-style: none;
                margin: 30px 0 0;
                
                .footer-a{
                    text-decoration: none;
                    color: #555555;
                    cursor: pointer;
                    font-family: Jost;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 250%;
                    text-transform: capitalize;
                }
                .footer-a:hover{
                color :#FF782D;
                }
            }
        }
        .contact{
            
            .contact-title{
                font-family: Exo;
                font-weight: 600;
                font-size: 20px;
                line-height: 120%;
                text-transform: capitalize;
                margin: 0 0 32px 0;
            }
            .address{
                font-family: Jost;
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
                color: #555555;
            }
            .tel{
                font-family: Jost;
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
                color: #555555;
                margin: 16px 0 0 0;
            }
            .mail{
                font-family: Jost;
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
                color: #555555;
            }
            .social-media{
                width: 148px;
                height: 20px;
                margin: 16px 0 0;
                display: flex;
                justify-content: space-between;
                .social{
                    color: #555555;
                    width: 18px;
                    height: 18px;
                }
                .social:hover{
                    color: #FF782D;
                }
                
            }
        }
        
    }
    .copyright{
            max-width: 470px;
            
            margin: 50px auto 0;
            .rights{
                font-family: Jost;
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
                color: #555555;
                text-align: center;
            }
    }
}






@media screen and (max-width:992px){
    nav{
        padding: 0 20px;

        .nav-list , .login{
            display: none;
        }
        .bars{
            display: block;
        }
    }

    header{
        main{
            .articles{
                margin: 0 20px 70px 20px;
                .articles-text{
                    flex-direction: column;
                    align-items: flex-start;
                    .articles-title{
                        margin: 0 0 32px 0;
                        font-weight: 600;
                        font-size: 32px;
                        line-height: 120%;
                        text-transform: capitalize;
                    }
                    
                }
                .articles-cards{
                    margin: 90px 0 0;
                    align-items: center;
                    
                    .card.one{
                        flex-direction: column;
                        width: 320px;
                        height: 431px;
                        gap: 35px;                        
                        .img{
                            height: 206px;
                            border-top-right-radius: 20px;
                            border-bottom-left-radius: 0;
                        }
                        .card-content{
                            padding: 0 0 0 20px;
                        }

                        
                    }
                    .card.two{
                        flex-direction: column;
                        width: 320px;
                        height: 431px;
                        gap: 35px;                        
                        .img{
                            height: 206px;
                            border-top-right-radius: 20px;
                            border-bottom-left-radius: 0;
                        }
                        .card-content{
                            padding: 0 0 0 20px;
                        }

                        
                    }
                    .card.three{
                        flex-direction: column;
                        width: 320px;
                        height: 431px;
                        gap: 35px;                        
                        .img{
                            height: 206px;
                            border-top-right-radius: 20px;
                            border-bottom-left-radius: 0;
                        }
                        .card-content{
                            padding: 0 0 0 20px;
                        }

                        
                    }
                    .card.four{
                        flex-direction: column;
                        width: 320px;
                        height: 431px;
                        gap: 35px;                        
                        .img{
                            height: 206px;
                            border-top-right-radius: 20px;
                            border-bottom-left-radius: 0;
                        }
                        .card-content{
                            padding: 0 0 0 20px;
                        }

                        
                    }
                    .card.five{
                        flex-direction: column;
                        width: 320px;
                        height: 431px;
                        gap: 35px;                        
                        .img{
                            height: 206px;
                            border-top-right-radius: 20px;
                            border-bottom-left-radius: 0;
                        }
                        .card-content{
                            padding: 0 0 0 20px;
                        }

                        
                    }
                    .card.six{
                        flex-direction: column;
                        width: 320px;
                        height: 431px;
                        gap: 35px;                        
                        .img{
                            height: 206px;
                            border-top-right-radius: 20px;
                            border-bottom-left-radius: 0;
                        }
                        .card-content{
                            padding: 0 0 0 20px;
                        }

                        
                    }
                }
                .btns{
                    margin: 60px auto 70px;
                }
            }
        }
    }

    footer{
        height: 100%;
        .footer-content{
            flex-direction: column;
            margin: 70px 20px 0;
            padding: 0;
            .logo-info{
                margin: 70px 0 0;
            }
        }
    }

    
}